Repository CauseMint/stylelint-sass: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

chore: use official install script for Claude Code in devcontainer
  .devcontainer/devcontainer.json
Due: prettier --write

chore: add .pnpm-store, .worktrees, and settings.local.json to .gitignore
  .gitignore
Due: none

chore: add Phase 0 acceptance criteria check to review-pr skill
  .claude/skills/review-pr/SKILL.md
Due: prettier --write, markdownlint-cli2

feat(#10): add sass/at-use-no-unnamespaced rule
  docs/rules/at-use-no-unnamespaced.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/at-use-no-unnamespaced/index.test.ts
  src/rules/at-use-no-unnamespaced/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #10: add sass/at-use-no-unnamespaced rule (#55)
  docs/rules/at-use-no-unnamespaced.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/at-use-no-unnamespaced/index.test.ts
  src/rules/at-use-no-unnamespaced/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#16): add sass/no-duplicate-mixins rule
  docs/rules/no-duplicate-mixins.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-duplicate-mixins/index.test.ts
  src/rules/no-duplicate-mixins/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #16: add sass/no-duplicate-mixins rule (#57)
  docs/rules/no-duplicate-mixins.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-duplicate-mixins/index.test.ts
  src/rules/no-duplicate-mixins/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#25): add sass/no-duplicate-load-rules rule
  docs/rules/no-duplicate-load-rules.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-duplicate-load-rules/index.test.ts
  src/rules/no-duplicate-load-rules/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #25: add sass/no-duplicate-load-rules rule (#59)
  docs/rules/no-duplicate-load-rules.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-duplicate-load-rules/index.test.ts
  src/rules/no-duplicate-load-rules/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#12): add sass/selector-no-redundant-nesting-selector rule
  docs/rules/selector-no-redundant-nesting-selector.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/selector-no-redundant-nesting-selector/index.test.ts
  src/rules/selector-no-redundant-nesting-selector/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #12: add sass/selector-no-redundant-nesting-selector rule (#56)
  docs/rules/selector-no-redundant-nesting-selector.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/selector-no-redundant-nesting-selector/index.test.ts
  src/rules/selector-no-redundant-nesting-selector/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

chore(#22): require evidence-backed Gemini dismissals in review workflow
  .claude/skills/review-pr/SKILL.md
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

feat(#22): add sass/no-duplicate-dollar-variables rule
  docs/rules/no-duplicate-dollar-variables.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-duplicate-dollar-variables/index.test.ts
  src/rules/no-duplicate-dollar-variables/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #22: add sass/no-duplicate-dollar-variables rule (#58)
  docs/rules/no-duplicate-dollar-variables.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-duplicate-dollar-variables/index.test.ts
  src/rules/no-duplicate-dollar-variables/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#26): add sass/selector-no-union-class-name rule
  docs/rules/selector-no-union-class-name.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/selector-no-union-class-name/index.test.ts
  src/rules/selector-no-union-class-name/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #26: add sass/selector-no-union-class-name rule (#61)
  docs/rules/selector-no-union-class-name.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/selector-no-union-class-name/index.test.ts
  src/rules/selector-no-union-class-name/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#27): add sass/dimension-no-non-numeric-values rule
  docs/rules/dimension-no-non-numeric-values.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/dimension-no-non-numeric-values/index.test.ts
  src/rules/dimension-no-non-numeric-values/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #27: add sass/dimension-no-non-numeric-values rule (#62)
  docs/rules/dimension-no-non-numeric-values.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/dimension-no-non-numeric-values/index.test.ts
  src/rules/dimension-no-non-numeric-values/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#19): add sass/no-color-literals rule
  docs/rules/no-color-literals.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/fixtures/valid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-color-literals/index.test.ts
  src/rules/no-color-literals/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #19: add sass/no-color-literals rule (#60)
  docs/rules/no-color-literals.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/fixtures/valid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-color-literals/index.test.ts
  src/rules/no-color-literals/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#23): add sass/operator-no-unspaced rule
  docs/rules/operator-no-unspaced.md
  src/index.ts
  src/recommended.ts
  src/rules/operator-no-unspaced/index.test.ts
  src/rules/operator-no-unspaced/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

chore(#1): add deliverables checklist to /review-pr skill
  .claude/skills/review-pr/SKILL.md
Due: prettier --write, markdownlint-cli2

Closes #23: add sass/operator-no-unspaced rule (#63)
  docs/rules/operator-no-unspaced.md
  src/index.ts
  src/recommended.ts
  src/rules/operator-no-unspaced/index.test.ts
  src/rules/operator-no-unspaced/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

chore(#41): add GitHub Action to monitor stylelint-scss releases
  .github/workflows/monitor-stylelint-scss.yml
Due: prettier --write

Closes #41: add GitHub Action to monitor stylelint-scss releases (#64)
  .github/workflows/monitor-stylelint-scss.yml
Due: prettier --write

fix(#41): add --repo flag to gh commands in monitor workflow
  .github/workflows/monitor-stylelint-scss.yml
Due: prettier --write

feat(#67): mount host Claude/gh/gt auth into devcontainer
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/fix-host-worktrees.sh
  .devcontainer/install-tools.sh
  .devcontainer/link-claude-config.sh
  README.md
Due: prettier --write, markdownlint-cli2

Closes #67: mount host auth and context into devcontainer (#68)
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/fix-host-worktrees.sh
  .devcontainer/install-tools.sh
  .devcontainer/link-claude-config.sh
  README.md
Due: prettier --write, markdownlint-cli2

fix(#4): disable lint-staged stash during rebase
  .husky/pre-commit
Due: none

chore(#4): clarify worktree path must mirror branch name
  .claude/skills/worktree/SKILL.md
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

Refs #4: extract tooling fixes from docs PR (#69)
  .claude/skills/worktree/SKILL.md
  .husky/pre-commit
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

docs(#4): add SDLC documentation and complete project docs for v0.1.0
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/plan/00-desired-state.md
  docs/plan/02-roadmap.md
  docs/sdlc.md
Due: prettier --write, markdownlint-cli2

docs(#4): clarify worktree path must mirror branch name
  docs/sdlc.md
Due: prettier --write, markdownlint-cli2

docs(#4): add keywords and files fields to package.json
  package.json
Due: prettier --write

docs(#4): add motivation section — why SASS over Tailwind for agentic dev
  README.md
  docs/sdlc.md
Due: prettier --write, markdownlint-cli2

Closes #4: polish and publish v0.1.0 documentation (#66)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/plan/00-desired-state.md
  docs/plan/02-roadmap.md
  docs/sdlc.md
  package.json
Due: prettier --write, markdownlint-cli2

chore(#73): post-checkout auto-rename on interactive validation failure
  .husky/post-checkout
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

Closes #73: post-checkout exits 1 on naming convention violation (#74)
  .husky/post-checkout
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

fix(#70): flatten wiki rule specs to root (fix broken links)
  .claude/skills/add-rule/SKILL.md
  .claude/skills/review-pr/SKILL.md
  CLAUDE.md
  docs/sdlc.md
Due: prettier --write, markdownlint-cli2

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: *.md)) or (any of: *.{json,yml,yaml})
  markdownlint-cli2: any of: *.md
