Repository CauseMint/stylelint-sass: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.md": ["markdownlint-cli2", "prettier --write"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

docs: enforce PR body with issue link in review-pr skill
  .claude/skills/review-pr/SKILL.md
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

feat(#13): add sass/at-mixin-pattern rule
  docs/rules/at-mixin-pattern.md
  src/index.ts
  src/recommended.ts
  src/rules/at-mixin-pattern/index.test.ts
  src/rules/at-mixin-pattern/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#13): add sass/at-mixin-pattern rule (#42)
  docs/rules/at-mixin-pattern.md
  src/index.ts
  src/recommended.ts
  src/rules/at-mixin-pattern/index.test.ts
  src/rules/at-mixin-pattern/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#9): add sass/percent-placeholder-pattern rule
  docs/rules/percent-placeholder-pattern.md
  src/index.ts
  src/recommended.ts
  src/rules/percent-placeholder-pattern/index.test.ts
  src/rules/percent-placeholder-pattern/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#9): add sass/percent-placeholder-pattern rule (#44)
  docs/rules/percent-placeholder-pattern.md
  src/index.ts
  src/recommended.ts
  src/rules/percent-placeholder-pattern/index.test.ts
  src/rules/percent-placeholder-pattern/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#17): add sass/at-function-pattern rule
  docs/rules/at-function-pattern.md
  src/index.ts
  src/recommended.ts
  src/rules/at-function-pattern/index.test.ts
  src/rules/at-function-pattern/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#17): add sass/at-function-pattern rule (#45)
  docs/rules/at-function-pattern.md
  src/index.ts
  src/recommended.ts
  src/rules/at-function-pattern/index.test.ts
  src/rules/at-function-pattern/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

docs(#1): enforce PR title format for auto-closing issues
  .claude/skills/add-rule/SKILL.md
  .claude/skills/review-pr/SKILL.md
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

feat(#8): add sass/at-extend-no-missing-placeholder rule
  docs/rules/at-extend-no-missing-placeholder.md
  src/index.ts
  src/recommended.ts
  src/rules/at-extend-no-missing-placeholder/index.test.ts
  src/rules/at-extend-no-missing-placeholder/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #8: add sass/at-extend-no-missing-placeholder rule (#43)
  docs/rules/at-extend-no-missing-placeholder.md
  src/index.ts
  src/recommended.ts
  src/rules/at-extend-no-missing-placeholder/index.test.ts
  src/rules/at-extend-no-missing-placeholder/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

docs(#14): require "Why?" section in rule docs
  .claude/skills/add-rule/SKILL.md
Due: prettier --write, markdownlint-cli2

docs: require PR comment when dismissing Gemini review feedback
  .claude/skills/review-pr/SKILL.md
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

feat(#14): add sass/extends-before-declarations rule
  docs/rules/extends-before-declarations.md
  src/index.ts
  src/recommended.ts
  src/rules/extends-before-declarations/index.test.ts
  src/rules/extends-before-declarations/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#14): add shared ordering utility
  src/utils/ordering.ts
Due: eslint --fix, prettier --write

Closes #14: add sass/extends-before-declarations rule (#49)
  docs/rules/extends-before-declarations.md
  src/index.ts
  src/recommended.ts
  src/rules/extends-before-declarations/index.test.ts
  src/rules/extends-before-declarations/index.ts
  src/utils/ordering.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

chore: rename /clean-worktree to /post-merge
  .claude/skills/clean-worktree/SKILL.md
  .claude/skills/post-merge/SKILL.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/plan/03-implementation-plan.md
  docs/plan/04-execution-steps.md
Due: prettier --write, markdownlint-cli2

feat(#20): add sass/mixins-before-declarations rule
  docs/rules/mixins-before-declarations.md
  src/index.ts
  src/recommended.ts
  src/rules/mixins-before-declarations/index.test.ts
  src/rules/mixins-before-declarations/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #20: add sass/mixins-before-declarations rule (#50)
  docs/rules/mixins-before-declarations.md
  src/index.ts
  src/recommended.ts
  src/rules/mixins-before-declarations/index.test.ts
  src/rules/mixins-before-declarations/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#15): add sass/no-global-function-names rule
  docs/rules/no-global-function-names.md
  src/index.ts
  src/recommended.ts
  src/rules/no-global-function-names/index.test.ts
  src/rules/no-global-function-names/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #15: add sass/no-global-function-names rule (#46)
  docs/rules/no-global-function-names.md
  src/index.ts
  src/recommended.ts
  src/rules/no-global-function-names/index.test.ts
  src/rules/no-global-function-names/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#18): add sass/at-use-no-redundant-alias rule
  docs/rules/at-use-no-redundant-alias.md
  src/index.ts
  src/recommended.ts
  src/rules/at-use-no-redundant-alias/index.test.ts
  src/rules/at-use-no-redundant-alias/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #18: add sass/at-use-no-redundant-alias rule (#47)
  docs/rules/at-use-no-redundant-alias.md
  src/index.ts
  src/recommended.ts
  src/rules/at-use-no-redundant-alias/index.test.ts
  src/rules/at-use-no-redundant-alias/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

feat(#21): add sass/at-if-no-null rule
  docs/rules/at-if-no-null.md
  src/index.ts
  src/recommended.ts
  src/rules/at-if-no-null/index.test.ts
  src/rules/at-if-no-null/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #21: add sass/at-if-no-null rule (#48)
  docs/rules/at-if-no-null.md
  src/index.ts
  src/recommended.ts
  src/rules/at-if-no-null/index.test.ts
  src/rules/at-if-no-null/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

chore: replace deprecated `gt branch delete` with `gt delete`
  .claude/skills/post-merge/SKILL.md
  docs/plan/04-execution-steps.md
Due: prettier --write, markdownlint-cli2

feat(#24): add sass/declarations-before-nesting rule
  docs/rules/declarations-before-nesting.md
  src/index.ts
  src/recommended.ts
  src/rules/declarations-before-nesting/index.test.ts
  src/rules/declarations-before-nesting/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

Closes #24: add sass/declarations-before-nesting rule (#51)
  docs/rules/declarations-before-nesting.md
  src/index.ts
  src/recommended.ts
  src/rules/declarations-before-nesting/index.test.ts
  src/rules/declarations-before-nesting/index.ts
Due: eslint --fix, prettier --write, markdownlint-cli2

docs(#5): add Why? and Configuration sections to no-debug
  docs/rules/no-debug.md
Due: prettier --write, markdownlint-cli2

docs(#6): add Why? and Configuration sections to dollar-variable-pattern
  docs/rules/dollar-variable-pattern.md
Due: prettier --write, markdownlint-cli2

docs(#7): add Why? and Configuration sections to no-warn
  docs/rules/no-warn.md
Due: prettier --write, markdownlint-cli2

docs(#9): add Why? and Configuration sections to percent-placeholder-pattern
  docs/rules/percent-placeholder-pattern.md
Due: prettier --write, markdownlint-cli2

docs(#11): add Why? and Configuration sections to no-import
  docs/rules/no-import.md
Due: prettier --write, markdownlint-cli2

docs(#13): add Why? and Configuration sections to at-mixin-pattern
  docs/rules/at-mixin-pattern.md
Due: prettier --write, markdownlint-cli2

docs(#17): add Why? and Configuration sections to at-function-pattern
  docs/rules/at-function-pattern.md
Due: prettier --write, markdownlint-cli2

docs: add Why? and Configuration sections to 7 early rule docs (#52)
  docs/rules/at-function-pattern.md
  docs/rules/at-mixin-pattern.md
  docs/rules/dollar-variable-pattern.md
  docs/rules/no-debug.md
  docs/rules/no-import.md
  docs/rules/no-warn.md
  docs/rules/percent-placeholder-pattern.md
Due: prettier --write, markdownlint-cli2

chore: add pre-push hook to enforce branch naming convention
  .husky/pre-push
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

chore(#53): add Dev Container configuration
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  README.md
Due: prettier --write, markdownlint-cli2

Closes #53: add Dev Container configuration for contributors (#54)
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  README.md
Due: prettier --write, markdownlint-cli2
