Repository CauseMint/stylelint-sass: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint-cli2, prettier --write

.lintstagedrc.json:

{
  "*.md": ["markdownlint-cli2", "prettier --write"],
  "*.{json,yml,yaml}": ["prettier --write"]
}

chore(#1): add vitest test scaffold
  package.json
  pnpm-lock.yaml
  src/__tests__/scaffold.test.ts
  vitest.config.ts
Due: prettier --write

chore(#1): add CI, AI review workflow, and GitHub templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/rule.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ai-review.yml
  .github/workflows/ci.yml
Due: markdownlint-cli2, prettier --write

docs(#1): add Claude Code skills for agentic workflows
  .claude/skills/add-rule/SKILL.md
  .claude/skills/create-issue/SKILL.md
  .claude/skills/merge-worktree/SKILL.md
  .claude/skills/review-pr/SKILL.md
  .claude/skills/worktree/SKILL.md
Due: markdownlint-cli2, prettier --write

docs(#1): revamp CLAUDE.md with workflow rules and skills
  CLAUDE.md
Due: markdownlint-cli2, prettier --write

docs(#1): add project plans and execution steps
  .gitignore
  CLAUDE.md
  LICENSE
  docs/plan/00-desired-state.md
  docs/plan/01-architecture.md
  docs/plan/02-roadmap.md
  docs/plan/03-implementation-plan.md
  docs/plan/04-execution-steps.md
  docs/plan/rules/sass-at-extend-no-missing-placeholder.md
  docs/plan/rules/sass-at-function-pattern.md
  docs/plan/rules/sass-at-if-no-null.md
  docs/plan/rules/sass-at-mixin-pattern.md
  docs/plan/rules/sass-at-use-no-redundant-alias.md
  docs/plan/rules/sass-at-use-no-unnamespaced.md
  docs/plan/rules/sass-declarations-before-nesting.md
  docs/plan/rules/sass-dimension-no-non-numeric-values.md
  docs/plan/rules/sass-dollar-variable-pattern.md
  docs/plan/rules/sass-extends-before-declarations.md
  docs/plan/rules/sass-mixins-before-declarations.md
  docs/plan/rules/sass-no-color-literals.md
  docs/plan/rules/sass-no-debug.md
  docs/plan/rules/sass-no-duplicate-dollar-variables.md
  docs/plan/rules/sass-no-duplicate-load-rules.md
  docs/plan/rules/sass-no-duplicate-mixins.md
  docs/plan/rules/sass-no-global-function-names.md
  docs/plan/rules/sass-no-import.md
  docs/plan/rules/sass-no-warn.md
  docs/plan/rules/sass-operator-no-unspaced.md
  docs/plan/rules/sass-percent-placeholder-pattern.md
  docs/plan/rules/sass-selector-no-redundant-nesting-selector.md
  docs/plan/rules/sass-selector-no-union-class-name.md
Due: markdownlint-cli2, prettier --write

docs(#1): add contributing guide
  CONTRIBUTING.md
Due: markdownlint-cli2, prettier --write

fix(#1): drop Node 18 from CI matrix
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore(#2): add TypeScript compiler and config
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
Due: prettier --write

chore(#2): add TypeScript compiler and config (#28)
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
Due: prettier --write

fix(#1): enforce worktree-per-branch workflow
  .claude/skills/add-rule/SKILL.md
  .claude/skills/worktree/SKILL.md
  CLAUDE.md
  docs/plan/04-execution-steps.md
Due: markdownlint-cli2, prettier --write

fix(#1): enforce worktree-per-branch workflow (#33)
  .claude/skills/add-rule/SKILL.md
  .claude/skills/worktree/SKILL.md
  CLAUDE.md
  docs/plan/04-execution-steps.md
Due: markdownlint-cli2, prettier --write

fix(#2): handle missing GEMINI_API_KEY in AI review workflow
  .github/workflows/ai-review.yml
Due: prettier --write

fix(#2): handle missing GEMINI_API_KEY in AI review workflow (#32)
  .github/workflows/ai-review.yml
Due: prettier --write

chore(#2): add ESLint with TypeScript support
  .github/workflows/ci.yml
  .lintstagedrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(#2): add ESLint with TypeScript support (#29)
  .github/workflows/ci.yml
  .lintstagedrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(#2): add plugin dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(#2): add plugin skeleton with smoke tests
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/__tests__/fixtures/invalid.sass
  src/__tests__/fixtures/valid.sass
  src/__tests__/scaffold.test.ts
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/utils/ast.ts
  src/utils/namespace.ts
Due: prettier --write

chore(#34): add TSDoc documentation standards
  .claude/skills/add-rule/SKILL.md
  CLAUDE.md
  eslint.config.js
  package.json
  patches/README.md
  patches/eslint-plugin-tsdoc@0.4.0.patch
  pnpm-lock.yaml
Due: markdownlint-cli2, prettier --write

chore(#34): add TSDoc documentation standards (#35)
  .claude/skills/add-rule/SKILL.md
  CLAUDE.md
  eslint.config.js
  package.json
  patches/README.md
  patches/eslint-plugin-tsdoc@0.4.0.patch
  pnpm-lock.yaml
Due: markdownlint-cli2, prettier --write

chore(#1): add no-git-push workflow rule
  .claude/skills/add-rule/SKILL.md
  CLAUDE.md
Due: markdownlint-cli2, prettier --write

chore(#2): add plugin dependencies (#30)
  .claude/skills/add-rule/SKILL.md
  .github/workflows/ci.yml
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/__tests__/fixtures/invalid.sass
  src/__tests__/fixtures/valid.sass
  src/__tests__/scaffold.test.ts
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/utils/ast.ts
  src/utils/namespace.ts
Due: markdownlint-cli2, prettier --write

chore(#2): rename /merge-worktree to /clean-worktree
  .claude/skills/clean-worktree/SKILL.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/plan/03-implementation-plan.md
  docs/plan/04-execution-steps.md
Due: markdownlint-cli2, prettier --write

chore(#2): forbid Task tool isolation: worktree in workflow rules
  CLAUDE.md
Due: markdownlint-cli2, prettier --write

fix(#36): inline stylelint deps and exclude worktrees in vitest config
  vitest.config.ts
Due: none

chore(#2): add blocker-interrupt rule to workflow and add-rule skill
  .claude/skills/add-rule/SKILL.md
  CLAUDE.md
Due: markdownlint-cli2, prettier --write

feat(#5): add sass/no-debug rule
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-debug/index.test.ts
  src/rules/no-debug/index.ts
Due: none

feat(#5): add sass/no-debug rule (#37)
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-debug/index.test.ts
  src/rules/no-debug/index.ts
Due: none

fix(#2): skip AI review when diff is unchanged and use single comment
  .github/workflows/ai-review.yml
Due: prettier --write

chore(#2): ship rule docs with rules, not as separate Phase 7 task
  .claude/skills/add-rule/SKILL.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/plan/03-implementation-plan.md
  docs/plan/04-execution-steps.md
  docs/plan/rules/design/sass-at-extend-no-missing-placeholder.md
  docs/plan/rules/design/sass-at-function-pattern.md
  docs/plan/rules/design/sass-at-if-no-null.md
  docs/plan/rules/design/sass-at-mixin-pattern.md
  docs/plan/rules/design/sass-at-use-no-redundant-alias.md
  docs/plan/rules/design/sass-at-use-no-unnamespaced.md
  docs/plan/rules/design/sass-declarations-before-nesting.md
  docs/plan/rules/design/sass-dimension-no-non-numeric-values.md
  docs/plan/rules/design/sass-dollar-variable-pattern.md
  docs/plan/rules/design/sass-extends-before-declarations.md
  docs/plan/rules/design/sass-mixins-before-declarations.md
  docs/plan/rules/design/sass-no-color-literals.md
  docs/plan/rules/design/sass-no-debug.md
  docs/plan/rules/design/sass-no-duplicate-dollar-variables.md
  docs/plan/rules/design/sass-no-duplicate-load-rules.md
  docs/plan/rules/design/sass-no-duplicate-mixins.md
  docs/plan/rules/design/sass-no-global-function-names.md
  docs/plan/rules/design/sass-no-import.md
  docs/plan/rules/design/sass-no-warn.md
  docs/plan/rules/design/sass-operator-no-unspaced.md
  docs/plan/rules/design/sass-percent-placeholder-pattern.md
  docs/plan/rules/design/sass-selector-no-redundant-nesting-selector.md
  docs/plan/rules/design/sass-selector-no-union-class-name.md
Due: markdownlint-cli2, prettier --write

docs(#5): add user-facing docs for sass/no-debug
  docs/rules/no-debug.md
Due: markdownlint-cli2, prettier --write

docs(#5): add user-facing docs for sass/no-debug
  docs/rules/no-debug.md
  src/rules/no-debug/index.test.ts
Due: markdownlint-cli2, prettier --write

docs(#5): add explanatory comments to no-debug rule examples
  docs/rules/no-debug.md
Due: markdownlint-cli2, prettier --write

feat(#7): add sass/no-warn rule
  docs/rules/no-warn.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-warn/index.test.ts
  src/rules/no-warn/index.ts
Due: markdownlint-cli2, prettier --write

feat(#7): add sass/no-warn rule (#38)
  docs/rules/no-warn.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-warn/index.test.ts
  src/rules/no-warn/index.ts
Due: markdownlint-cli2, prettier --write

feat(#11): add sass/no-import rule
  docs/rules/no-import.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-import/index.test.ts
  src/rules/no-import/index.ts
Due: markdownlint-cli2, prettier --write

feat(#11): add sass/no-import rule (#39)
  docs/rules/no-import.md
  src/__tests__/fixtures/invalid.sass
  src/__tests__/smoke.test.ts
  src/index.ts
  src/recommended.ts
  src/rules/no-import/index.test.ts
  src/rules/no-import/index.ts
Due: markdownlint-cli2, prettier --write

feat(#6): add sass/dollar-variable-pattern rule
  docs/rules/dollar-variable-pattern.md
  src/__tests__/fixtures/invalid.sass
  src/index.ts
  src/recommended.ts
  src/rules/dollar-variable-pattern/index.test.ts
  src/rules/dollar-variable-pattern/index.ts
  src/utils/patterns.ts
Due: markdownlint-cli2, prettier --write

feat(#6): add sass/dollar-variable-pattern rule (#40)
  docs/rules/dollar-variable-pattern.md
  src/__tests__/fixtures/invalid.sass
  src/index.ts
  src/recommended.ts
  src/rules/dollar-variable-pattern/index.test.ts
  src/rules/dollar-variable-pattern/index.ts
  src/utils/patterns.ts
Due: markdownlint-cli2, prettier --write
